/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* background-image: url("/img/the-lore2.jpg"); */
    background: rgb(83,68,86);
    background: linear-gradient(277deg, rgba(83,68,86,1) 0%, rgba(62,27,57,1) 35%, rgba(27,14,33,0.927608543417367) 100%);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* Barra de navegaci칩n */
.barraNavegacion {
    background-color: #517260;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 53px;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


#logo img {
    height: 205px;
    width: 205px;
    margin: -70px;
    padding: 7px;

}


#menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    height: 22px;
    text-align: center;

}

#menu li {
    margin: 3px;
    height: 50px;

    justify-items: baseline;



}

#menu a {
    display: flex;
    color: white;
    text-decoration: none;
    background-color: #517260;
    border: 1px solid hsl(147, 17%, 38%);
    text-align: center;
    height: 36px;
    align-items: center;
    border-radius: 4px;


}

#menu a:hover {
    background-color: #534456;



}

.menuToggle {
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none;
}


/* Inico de sesion / registrarse */

#botonAbrir {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #517260;
    color: white;
    cursor: pointer;
}

#botonAbrir:hover {
    background-color: #534456;
}

#seccionDesplegable {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.contenido-desplegable {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

#seccionDesplegable .boton-cerrar {
    position: absolute;
    top: 1px;
    right: 8px;
    font-size: 50px;
    cursor: pointer;
}

#seccionDesplegable .imagen-inicio {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

#seccionDesplegable input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

}

#seccionDesplegable button {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #517260;
    color: white;
    cursor: pointer;
    margin-top: 10px;


}

#seccionDesplegable button:hover {
    background-color: #218838;
}

/*Carrito de compras*/

#carrito {
    position: absolute;
    top: 140px;
    right: 8px;
    background-color: #534456;
    border: 2px solid #1b0e21 ;
    padding: 9px;
    display: none;
    z-index: 999;
    color: #fff;
    
}

.carrito-icono {
    color: white;
    font-size: 24px;
    position: relative;
    cursor: pointer;
}

#carrito button{
    width: 50%;
    padding: 0px;
    background-color: #517260;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 2px;
    font-size: 17px;
    cursor: pointer;
}


.contador-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: -1;
}

#carrito button:hover{
    background-color: #416d55;
}


/* ---------------------------------------- */


/* 游댳 Hacer el men칰 responsive */
@media (max-width: 763px) {
    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 0;
        background-color: #517260;
        text-align: center;
        border-top: 5px solid #4CAF50;
        font-size: 12px;

    }

    #menu.active {
        display: flex;
        height: 234px;
        margin-right: 592px;
        padding-right: 46px;
        margin-top: 65px;
        margin-left: 0px;


    }

    #logo {
        display: none;
    }

    .menuToggle {
        width: 99px;
        height: 32px;
        border-radius: 5px;
        border: none;
        transition: all 0.5s ease-in-out;
        font-size: 12px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        display: flex;
        align-items: center;
        background: #3e1b39;
        color: #f5f5f5;
    }

    .menuToggle:hover {
        box-shadow: 0 0 20px 0px #2e2e2e3a;
    }

    .menuToggle .icon {
        position: absolute;
        height: 40px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
    }

    .menuToggle .text {
        transform: translateX(36px);
    }

    .menuToggle:hover .icon {
        width: 175px;
    }

    .menuToggle:hover .text {
        transition: all 0.5s;
        opacity: 0;
    }

    .menuToggle:focus {
        outline: none;
    }

    .menuToggle:active .icon {
        transform: scale(0.85);
    }
}

/* Para m칩viles */
@media (max-width: 420px) {
    #menu.active {
        display: flex;
        height: 234px;
        margin-right: 249px;
        padding-right: 46px;
        margin-top: 65px;
        margin-left: 0px;

}

}

/* ---------------------------------------- */


/*
@media (min-width: 420px) {
    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        right: 0;
        background-color: #28a745;
        text-align: center;
        border-top: 5px solid #4CAF50;
        font-size: 12px;

    }

    #menu.active {
        display: flex;
        height: 249px;
        margin-right: 248px;
        padding-right: 57px;


    }

    #menu li {
        margin-top: 10px;

    }

    .menuToggle {
        display: block;
    }

    #logo {
        display: none;
    }
}

*/


/* Inicio */
#inicio {
    padding: 23px 11px;
    margin-top: 93px;
    color: #fff;
}


.contenedorInicio {
    position: relative;
    width: 1310px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 550px;
}

.BtnInicio {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagenInicio {
    width: 100%;
    flex-shrink: 0;
    height: 527px;

}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.flechaIzquierda {
    left: 10px;
}

.flechaDerecha {
    right: 10px;
}

.flecha:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1620px) {
    .contenedorInicio {
        height: auto;
        width: auto;
    }

}


/* Productos */

#inicioProductos {
    width: auto;
    height: auto;
    margin-bottom: 65px;

}

#productos h2{
    color: #ffffff;
}

.lista-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    margin-top: -17px;
}

.contenedor-imagen {
    border: 5px solid #9cd0b3;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;

}

#productos button {
    width: 64%;
    padding: 5px;
    background-color: #517260;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#productos button:hover {
    background-color: #218838;
}

.lista-productos h3, .lista-productos p{
    color: #ffff;
}


/*Informacion de cada producto*/
.contenedor-imagen {
    color: #1b0e21;
    position: relative;
    display: inline-block;
    margin: 20px;
}


.imagen {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    background-color: transparent;

}

.boton-informacion {
    bottom: 10px;
    left: 50%;
    color: #1b0e21;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 20%;
    right: -33%;
    bottom: -217px;
    transform: translate(-96%, -50%);
    background-color: white;
    padding: 37px;
    margin-left: 75%;
    margin-right: -60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 10px;
}

.popup button {
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}



/*Envios*/
#servicioEnvio {
    color: #1b0e21;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    background-color: #517260;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 35vh;
    margin-top: 10px;

}

.infoEnvio {
    margin: 20px;
    text-align: center;
}

@media (max-width: 568px) {
    #servicioEnvio {
        height: auto;
    }

}


/*Nuestros servicio*/

#servicios {
    color: #ffffff;
    margin-top: 100px;
    height: 350px;
    text-align: center;
    font-size: 22px;

}

.listaServicios lu {
    display: block;
    justify-content: center;


}

.listaServicios li {
    list-style-type: none;
    cursor: pointer;


}



/* Formulario de contacto*/

#inicioContacto {
    width: auto;
    height: auto;
    margin: 40px;
}

#contacto {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: #fff;
}

.contact-form {
    display: flex;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px #0000009a;
    width: 50%;
    max-width: 100%;
    border: 1px solid #ffff;
    margin-bottom: 50px;
    margin-left: 50px;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 43vw;
    padding: 1px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#formulario-contacto button {
    text-align: center;
    width: 39%;
    padding: 3px;
    background-color: #517260;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#btn-enviar:hover {
    background-color: #218838;
}

.whatsapp-contact {
    margin-top: 12px;
    text-align: center;
}

.whatsapp-contact p {
    margin-bottom: 10px;
    color: #ffffff;
}

.whatsapp-contact img {
    width: 50px;
    height: 50px;
}

/* Media Queries para hacer el dise침o responsive */

/* Para tablets */
@media (max-width: 768px) {
    .contact-form {
        width: 70%;
        margin-left: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 60vw;
    }

    #formulario-contacto button {
        width: 25%;
    }
}

/* Para m칩viles */
@media (max-width: 480px) {
    .contact-form {
        width: 90%;
        margin-left: 10px;
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 80vw;
    }

    #formulario-contacto button {
        width: 35%;
    }

    h2 {
        font-size: 18px;
    }

    .whatsapp-contact img {
        width: 40px;
        height: 40px;
    }
}


/* footer */
footer {
    background-color: #517260;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Secciones del footer */
.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 2px solid #1b0e21;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

}

.footer-section ul li {
    margin-bottom: 10px;


}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    align-items: center;

}

.footer-section ul li a:hover {
    color: #3e1b39;
}

/* Redes sociales */
.social-links {
    display: flex;
    gap: 10px;
}

.social-links a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff6f61;
}

/* Derechos de autor */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #1b0e21;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
}

/* Responsive */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin: 20px 0;
    }

    .social-links {
        justify-content: center;
    }
}


@media screen and (min-width: 523px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }
}

/* Media query para pantallas de escritorio (pantallas de 1024px en adelante) */
@media screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    .container {
        width: 80%;
        max-width: 1200px;
    }
}