body {
    margin: 0;
    padding: 0;
    height:0;
    width: 100vw;
    background-image: url("/img/Portada2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.inicioLanding{
    margin: 0;
    padding: 60px;
    text-align: center;

}




div button{
    margin: 25px;
    padding: 0;
    height: 50px;
    width: 150px;
}

.iconosLanding{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  
}

svg {
    margin:0;
    padding-top: 2px;
    height: 57px;
    width: 134px;
}

@media (max-width: 763px) {
    body{
        margin: 0;
        padding: 0;
        background-position: center;
        background-size:cover;

    }
    .inicioLanding{
        margin: 60px;
        padding: 10px;
        text-align: center;


    }



}

