body {
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 90vw;
    background-image: url("/img/Portada2.webp");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

}

div .login-container{
     margin: -1000px;


}
        
a:hover {
    color: #0063be;
    text-decoration: none;
}

input:checked {
    background-color: #0063be !important;
}

input,
select {
    cursor: pointer;
}
/*estilo que permite mostrar los campos validados con un borde de color rojo*/


.btninicio {
    color: #fff;
    background-color: #517260 !important;
    font-size: 20px;
    width: 100%;
}

#forgot-pass {
    font-weight: bold;
    text-align: end;
    font-size: 12px;
}

@media (max-width:763px) {
    .animacion2 {
        display: none;
    }
    
}